aside {
    position: sticky;
    left: 0;
    top: 0;
    background-color: black;
    color: white;
    height: 100vh;
    border-top-right-radius: 20px;
    padding: 30px;
    nav {
        height: 100%;
        .tonik-search {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 10px;

            i {
                font-size: 20px;
            }

            input {
                font-size: 18px;
                background-color: black;
                outline: none;
                border: none;
                color: #fff;
                font-family: 'Urbanist', sans-serif;

                &::placeholder {
                    color: #ffffff6b;
                }
                &::-webkit-placeholder {
                    color: #ffffff6b;
                }
                &::-moz-placeholder {
                    color: #ffffff6b;
                }
            }
        }

        .search-display {
            width: 100%;
            height: 60%;
            // background-color: aliceblue;
            border-radius: 10px;
            overflow-y: auto;
            padding: 10px;
            margin-top: 20px;

            h6 {
                font-weight: 400;
                margin-bottom: 15px;
            }

            .search {
                padding: 20px 0;

                border-bottom: 1px solid #ffffff20;
            }

            .search-users {
                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 5px;

                    .user-image {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: #fff;
                        object-fit: cover;
                        object-position: bottom;
    
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .search-tags {
                div {
                    margin-bottom: 10px;
                    p {
                        padding: 3px 10px;
                        background-color: #fff;
                        color: black;
                        width: fit-content;
                        border-radius: 10px;
                    }
                }
                
            }

            &::-webkit-scrollbar {
                width: 2px;
            }
            &::-webkit-scrollbar-thumb {
                width: 2px;
            }
            &::-webkit-scrollbar {
                width: 2px;
            }
        }

        .aside-links {
            display: flex;
            align-items: flex-end;

            ul {
               li {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-top: 15px;
                font-size: 20px;
                cursor: pointer;

                i {
                    
                }
               } 
            }
        }
    }

    a {
        color: white;
    }
}