.feed-section {
    .feed-container {
        width: 80%;
        a {
            .display {
                .image {
                    width: 100%;
                    object-fit: cover;
                    object-position: bottom;
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}