.create-edit {
    padding-bottom: 3em;
    input {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px 15px;
        font-size: 32px;
        outline: none;
        border: none;
        border-bottom: 2px solid #000;
        font-weight: 500;
        font-family: "Urbanist", sans-serif;
        
    }
}