.container-div {
    display: flex;

    .sidebar {
        flex: 1;
    }

    .main-stuff {
        flex: 3;
        padding: 40px 50px 0;

        .post-select-button {

            .display-select {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .post-select {
                    display: flex;

                    .select {
                        padding: 10px 30px; 
                        cursor: pointer;

                        &.active {
                            border-bottom: 2px solid #000;
                        }
                    }
                }
            }
            
            .main-button {
                background-color: black;
                border-radius: 15px;
                padding: 0 15px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer; 

                button {
                    padding-left: 0;
                    padding-right: 0;
                }

                i {
                    color: white;
                }

            }

            .post-button {
                display: flex;
                justify-content: right;
                .right {
                    width: fit-content;
                }
            }

            
        }

        .main-content {
            margin-top: 3em;
        }

        
    }
}