.featured-blogs {
    padding: 1.5rem 15px 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    .featured-header {
        font-weight: 600;
        font-size: 17px;
    }
    .featured-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 2.5rem;

        .featured {
            cursor: pointer;
            &:hover img {
                transform: scale(1.05);
            }
            .featured-image {
                width: 100%;
                height: 450px;
                object-fit: cover;
                object-position: bottom;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    transition: all .5s ease;
                }
            }

            .title {
                margin: 10px 0 7px;
            }
        }
    }
    
}