.profile-section {
    width: 65%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.10);
    .top-banner {
        background-color: white;
        display: flex;
        justify-content: space-between;

        .profile-user {
            .user-photo {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: aliceblue;
            }

            .user-joined {
                display: flex;
                gap: 10px;
                margin-top: 10px;

                p {
                    &:first-child {
                        font-weight: 500;
                    }
                }
            }

            .user-following {
                display: flex;
                gap: 20px;
                margin-top: 15px;
                
                p {
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        .follow-edit {
            i {
                font-size: 22px;
            }
        }
    }
    .profile-container {
        margin-top: 20px;
        .no-posts {
            text-align: center;
            margin-top: 2rem;

        }
        .feed-blog {
            padding: 20px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.10);

            &:last-child {
                border: none;
            }

            .feed-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                .profile-pic-name {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;

                    .profile-pic {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: rgb(187, 200, 207);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        i {
                            font-size: 18px;
                            color: white;
                        }
                    }
                }
                .username-date {
                    p {
                        &:first-child {
                            font-weight: 500;
                        }
                    }
                }
                .following {
                    p {
                        color: rgb(81, 155, 195);
                        font-weight: 500;
                    }

                    i {
                        font-size: 24px;
                        cursor: pointer;
                        opacity: .5;
                        transition: all .4s ease;

                        &:hover {
                            opacity: 1;
                        }
                    }

                }
            
            }

            .display {
                .image {
                    width: 100;
                    object-fit: cover;
                    object-position: bottom;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .header-text { 
                    margin: 7px 0 10px;
                }
            }

            .feed-bottom {
                margin-top: 10px;

                .comment-save-view {
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-weight: 500;
                    }

                    .comment-save {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        
                        div {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            i {
                                font-size: 18px;
                            }
                        }
                    }

                    .view {
                        p {
                            opacity: .6;
                        }
                    }
                }
            }
        }
    }
}